{% extends 'coins/base.html' %} 
{% block title %}{% if continent.title and continent.title != '' %}{{ continent.title }}{% else %}Coin Exchange from {{ continent.name }} – Collectible Coins Catalog | CollectoHub {% endif %} {% endblock %} 
{% block description %}{% if continent.description and continent.description != '' %}{{ continent.description }}{% else %}Explore collectible coins from {{ continent.name }} ➤ View and exchange rare coins with fellow collectors. Easy-to-use catalog for coin exchange. {% endif %} {% endblock %}
{% block content %}
<h1>Coins of {{ continent.name }}</h1>
<div class="row">
    <div class="col-md-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <!-- Кнопка для мобільного меню -->
                <button class="mb-3 navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Назва меню -->
                <h6 class="d-lg-none">Filters</h6>

                <!-- Блок з меню -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ol class="list-group w-100">
                        {% if continent.coin_categories.all|length > 0 %}
                        <li class="list-group-item">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop2" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2" style="max-height: 200px; overflow-y: auto;">
                                    {% for category in continent.coin_categories.all %}
                                    <li class="dropdown-item">
                                        <a href="{% url 'coins:coin-category-detail' category.id %}" class="text text-decoration-none">
                                            {{ category.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Change country
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="max-height: 200px; overflow-y: auto;">
                                    {% for country in continent.get_coutries_has_coins %}
                                    <li class="dropdown-item">
                                        <a href="{% url 'coins:country-detail' pk=country.id%}" class="text text-decoration-none">
                                            {{ country }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="fw-bold">Material:</label>
                            <div class="form-check">
                                <input class="form-check-input" name="material" type="checkbox" {% if material == 'ag' %}checked{% endif %} value="ag" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Silver
                                </label>
                              </div>
                        </li>
                        <li class="list-group-item">
                            <label>Change years:</label>
                            <div class="d-flex gap-3">
                                <input name="min_year" type="number" class="form-control" id="yearInput" min="{{min_year}}" max="{{max_year}}" value="{{min_year}}">
                                <input name="max_year" type="number" class="form-control" id="yearInput" min="{{min_year}}" max="{{max_year}}" value="{{max_year}}">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Change denomination
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="max-height: 200px; overflow-y: auto;">
                                    {% for i in list_denomination %}
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input name="denomination" class="form-check-input" type="checkbox" value="{{ i }}" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                {{ i }}
                                            </label>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex gap-3">
                                <button class="btn btn-primary confirm_filters">Confirm filters</button>
                                <button id="resetFilters" class="btn btn-outline-danger" style="display: none;"><i class="bi bi-arrow-clockwise"></i></button>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for coin in coins %}
                {% include 'coins/elements/coin_card.html' with coin=coin %}
            {% endfor %}
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if coins.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ coins.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %} {% for num in coins.paginator.page_range %} {% if num == 1 or num == coins.paginator.num_pages %}
                        <li class="page-item {% if coins.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% elif num >= coins.number|add:'-2' and num <= coins.number|add:'2' %}
                        <li class="page-item {% if coins.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% elif num == coins.number|add:'-3' or num == coins.number|add:'3' %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        {% endif %} {% endfor %} {% if coins.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ coins.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% if continent.content and continent.content != '' %}
<div class="row">
    <div class="col-md-12">
        {{ continent.content|safe|cut:"sandbox" }}
    </div>
</div>
{% endif %}

{% endblock %}
